FIT_LOGGING_ENABLE=0

FIT_input_log=build/ifile.dat
FIT_stdout_log=build/ofile.dat
FIT_stderr_log=build/efile.dat
FIT_main_log=build/mfile.dat


#The following are per function flags
#Some are for function that can only have an error number injected returned like close() or fgetc()
#While functions like read/write and variants thereof will have their returns truncated to a single chunk/byte
#(with other state kept intact)

#Set to 0 for disable
#Set to 1 for always on
#Set to n for activation on every nth call

FIT_VFPRINTF_FLAG=0
FIT_VDPRINTF_FLAG=0
FIT_FGETC_UNLOCKED_FLAG=0
FIT_FPUTC_UNLOCKED_FLAG=0
FIT___VFPRINTF_CHK_FLAG=0
FIT_CLOSE_FLAG=0
FIT_CREAT_FLAG=0
FIT_CREAT64_FLAG=0
FIT_FCLOSE_FLAG=0
FIT_FCLOSEALL_FLAG=0
FIT_FGETC_FLAG=0
FIT_FGETS_FLAG=0
FIT_FOPEN_FLAG=0
FIT_FOPEN64_FLAG=0
FIT_FPUTC_FLAG=0
FIT_FPUTS_FLAG=0
FIT_FREAD_FLAG=0
FIT_FREOPEN_FLAG=0
FIT_FREOPEN64_FLAG=0
FIT_FWRITE_FLAG=0
FIT_GETLINE_FLAG=0
FIT_PREAD_FLAG=0
FIT_PWRITE_FLAG=0
FIT_READ_FLAG=0
FIT_VFSCANF_FLAG=0
FIT_WRITE_FLAG=0
FIT_FREAD_UNLOCKED_FLAG=0
FIT_FWRITE_UNLOCKED_FLAG=0
FIT_FGETS_UNLOCKED_FLAG=0
FIT_FPUTS_UNLOCKED_FLAG=0
FIT_FSEEK_FLAG=0
FIT_FSEEKO_FLAG=0
FIT_FSETPOS_FLAG=0
FIT_FSETPOS64_FLAG=0
FIT_LSEEK_FLAG=0
FIT_LSEEK64_FLAG=0
FIT_CHMOD_FLAG=0
FIT_CHOWN_FLAG=0
FIT_FCHMOD_FLAG=0
FIT_FCHOWN_FLAG=0
FIT_LCHOWN_FLAG=0
FIT_DUP_FLAG=0
FIT_DUP2_FLAG=0
FIT_DUP3_FLAG=0
FIT_FTRUNCATE_FLAG=0
FIT_FTRUNCATE64_FLAG=0
FIT_LINK_FLAG=0
FIT_MKDIR_FLAG=0
FIT_MKFIFO_FLAG=0
FIT___XMKNOD_FLAG=0
FIT_REMOVE_FLAG=0
FIT_RENAME_FLAG=0
FIT_RMDIR_FLAG=0
FIT_SYMLINK_FLAG=0
FIT_TRUNCATE_FLAG=0
FIT_TRUNCATE64_FLAG=0
FIT_UNLINK_FLAG=0
FIT_POPEN_FLAG=0
FIT_PCLOSE_FLAG=0
FIT_MKSTEMP_FLAG=0
FIT_MKOSTEMP_FLAG=0
FIT_MKSTEMPS_FLAG=0
FIT_MKOSTEMPS_FLAG=0
FIT_TMPFILE_FLAG=0
FIT_TMPFILE64_FLAG=0
FIT___FXSTAT_FLAG=0
FIT___FXSTAT64_FLAG=0
FIT___LXSTAT_FLAG=0
FIT___LXSTAT64_FLAG=0
FIT___XSTAT_FLAG=0
FIT___XSTAT64_FLAG=0
FIT_CHDIR_FLAG=0
FIT_FCHDIR_FLAG=0
FIT_KILLPG_FLAG=0
FIT_SETEUID_FLAG=0
FIT_SETEGID_FLAG=0
FIT_SETGID_FLAG=0
FIT_SETREUID_FLAG=0
FIT_SETREGID_FLAG=0
FIT_SETUID_FLAG=0
FIT_CLEARENV_FLAG=0
FIT_PUTENV_FLAG=0
FIT_SETENV_FLAG=0
FIT_UNSETENV_FLAG=0
FIT_OPEN_FLAG=0
FIT_OPEN64_FLAG=0
FIT_SOCKET_FLAG=0
FIT_ACCEPT_FLAG=0
FIT_PIPE_FLAG=0
FIT_PIPE2_FLAG=0
FIT___FGETS_CHK_FLAG=0
FIT___FGETS_UNLOCKED_CHK_FLAG=0
FIT___FGETWS_CHK_FLAG=0
FIT___FGETWS_UNLOCKED_CHK_FLAG=0
FIT___PREAD64_CHK_FLAG=0
FIT___PREAD_CHK_FLAG=0
FIT___READ_CHK_FLAG=0
FIT_OPENAT_FLAG=0
FIT_OPENAT64_FLAG=0
FIT_RENAMEAT_FLAG=0
FIT_MKFIFOAT_FLAG=0
FIT_SYMLINKAT_FLAG=0
FIT_MKDIRAT_FLAG=0
FIT_UNLINKAT_FLAG=0
FIT_FCHMODAT_FLAG=0
FIT_FCHOWNAT_FLAG=0
FIT_LINKAT_FLAG=0
